.header-content{
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
    align-items: center;
    border-bottom: 0.2rem solid black;
}
.header-content .logotipo{
    background-color: transparent;
}
.header-content .title p {
    font-size: 2rem;
}
.header-content .abrir-menu {
    /* background-color: lightblue; */
    color: rgb(0, 0, 0);
    padding: 0.2rem;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold; 
}
.header-content .abrir-menu:hover {
    background-color: rgb(0, 0, 0,0.2);
}

.header-content .abrir-menu:active {
    background-color: rgb(132, 132, 11);
}

.header-content #nav {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(205, 205, 205);
    padding: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

/* .header-content .nav-visible{
    visibility: visible;
} */

.header-content .nav .cerrar-menu {
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    padding: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold; 
}
.header-content .nav .cerrar-menu:hover {
    background-color: rgb(0, 0, 0,0.2);
}

.header-content .nav .cerrar-menu:active {
    background-color: rgb(160, 160, 160);
}

.header-content .nav .list-prod {
    flex-direction: column;
    list-style-type: none;
}
.grid{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding: 4rem 10rem;
    gap: 2rem;
    justify-content: center;
}
.grid .product-card{
    display: block;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.grid .product-card .product-details{
    background-color: rgba(200, 203, 204, 0.418);
    font-size: 1rem;
    align-items: center;
    width: auto;
    height: auto;
    border: 0.1rem solid rgba(200, 203, 204, 0.418);
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.grid .product-card .product-details .product-title{
    margin: auto;
}
.grid .product-card .product-image{
    margin-bottom: 0.5rem;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.grid .product-card .product-image img {
    width: auto;
}
.grid .product-card .product-details .product-price-actions .add-to-cart {
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(0, 190, 122);
    font-weight: bold;
    color: #000000;
    font-size: 1rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
}
.grid .product-card .product-details .product-price-actions .add-to-cart:hover {
    background-color: rgb(67, 224, 146);
    color: #000000;
}
.grid .product-card .product-details .product-price-actions .add-to-cart:active {
    color: #000000;
    background-color: rgb(166, 237, 199);
}

.header-content .nav h3{
    font-size: 2rem;
}

.header-content .nav #ico-card {
    font-size: 1.5rem;
}
.header-content .nav p {
    font-size: 1.5rem;
}
