.header-content{
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
    align-items: center;
    border-bottom: 0.2rem solid black;
}
.header-content .logotipo{
    background-color: transparent;
}
.header-content .title p {
    font-size: 2rem;
}
.header-content .btn-menu .dropdown-toggle {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 0.2rem solid black;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
}
.header-content .btn-menu .dropdown-toggle:hover {
    background-color: rgb(0, 0, 0,0.2);
}

.header-content .btn-menu .dropdown-toggle:active {
    background-color: yellow;
}

/* .header-content .nav-conteiner .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
} */

.grid{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding: 4rem 10rem;
    gap: 2rem;
    justify-content: center;
}
.grid .product-card{
    display: block;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.grid .product-card .product-details{
    background-color: rgba(200, 203, 204, 0.418);
    font-size: 1rem;
    align-items: center;
    width: auto;
    height: auto;
    border: 0.1rem solid rgba(200, 203, 204, 0.418);
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.grid .product-card .product-details .product-title{
    margin: auto;
}
.grid .product-card .product-image{
    margin-bottom: 0.5rem;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.grid .product-card .product-image img {
    width: auto;
}
.grid .product-card .product-details .product-price-actions .add-to-cart {
    border-radius: 0.2rem;
    background-color: orange;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}
.grid .product-card .product-details .product-price-actions .add-to-cart:hover {
    background-color: rgba(156, 143, 118, 0.494);
}